# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.env
.env.*
venv/

# Node
node_modules/

# Editors and system files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.bak

# Docker build cache
*.tar
*.gz
*.zip
